<div>
  <form novalidate>
    



  <label for="name"> Name </label> 
  <input id="name" type="text" ng-model="location.name" />
  <br/>
  <label for="lat"> Latitude </label> 
  <input id="lat" type="number" ng-model="location.lat" />
  <br/>
  <label for="lng"> Longitude </label> 
  <input id="lng" type="number" ng-model="location.lng"/>

  <div class="color--layouts">
  Current Temperature {{ location.temp | convert }}
  </div>
    
  <div>
    <a class="button--secondary" ng-click="geocode()">geocode</a>
    <a class="button--secondary" ng-click="forecast(location)">forecast</a>
    <a class="button--primary" ng-click="save(location)">save</a>
  </div>

  </form>
  <!-- <pre>form = {{location | json}}</pre> -->
</div>